@model IEnumerable<LojaVirtual.FrontWeb.Models.ProdutoViewModel>

@* INDEX.CSHTML *@

<h2 class="text-center mb-4 text-light">Produtos</h2>
<hr class="bg-light" />

<div class="d-flex justify-content-between mb-3">
    <div>
        <a asp-action="CreateProduto" class="btn btn-success">
            <span title="Create New" class="fas fa-plus"></span> Novo Produto
        </a>
    </div>
</div>

<div class="panel panel-default bg-dark text-light p-3 rounded">
    <table class="table table-bordered table-hover table-dark">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CategoriaName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoriaName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td class="text-center">
                        <a asp-action="UpdateProduto" asp-route-id="@item.Id" title="Editar" class="btn btn-warning btn-sm">
                            <span class="fas fa-edit"></span> Editar
                        </a>
                        <a asp-action="DeleteProduto" asp-route-id="@item.Id" title="Deletar" class="btn btn-danger btn-sm ml-2">
                            <span class="fas fa-trash-alt"></span> Deletar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
